/* ================= Contact Section ================= */
.contact-section {
    padding: 70px 20px;
}

.contact-section form {
    background: #ded2bd;
    padding: 22px;
    border-radius: 15px;
}

.form-control {
    border: 1px solid #c99b18;
}
