/* ================= General ================= */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #eee9df;
    color: #222;
}


/* ================= Page Layout ================= */
.page-wrap {
    display: flex;
    align-items: flex-start;
}

.content {
    flex: 1;
}


/* ================= Sidebar / Navbar ================= */
.sidebar {
    width: 250px;
    height: calc(100vh - 30px);
    position: sticky;
    top: 15px;
    flex-shrink: 0;
    background: #0d0e12;
    padding: 30px 20px;
    border-radius: 0 22px 22px 0;
}


/* ================= Logo ================= */
.logo {
    width: 145px;
}


/* ================= Portal Buttons ================= */
.portal-btn {
    flex: 1;
    border: 0;
    background: transparent;
    color: white;
    padding: 8px;
    border-radius: 8px;
}

.portal-btn.active {
    background: #c99b18;
    color: #111;
}


/* ================= Navbar Links ================= */
.nav-link-custom {
    color: white;
    text-decoration: none;
    padding: 11px 15px;
    border-radius: 10px;
}

.nav-link-custom:hover,
.nav-link-custom.active {
    color: #c99b18;
    background: #17181d;
}
