.footer {
    background: black;
    color: white;
    padding: 25px 0;
    margin-top: 35px;
}

.footer-logo {
    width: 100px;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.footer a:hover,
.footer small {
    color: #9b7418;

}