/* ================= Footer ================= */

.footer {
    background: #e5dac7;
    padding: 28px 70px;
    border-radius: 20px 20px 0 0;
    min-height: 125px;
    display: flex;
    align-items: center;
}

.footer-left {
    flex: 1;
}

.footer-center {
    flex: 1;
    text-align: center;
}

.footer-right {
    flex: 1;
    text-align: right;
}

.footer-logo {
    width: 130px;
}

.footer a {
    color: #222;
    text-decoration: none;
    margin: 0 12px;
    font-size: 18px;
}

.footer a:hover {
    color: #98751d;
}

.footer small {
    color: #98751d;
    font-size: 16px;
}

/* ================= Mobile ================= */

@media (max-width: 768px) {

    .footer {
        padding: 25px;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-center {
        text-align: center;
    }

    .footer-right {
        text-align: center;
    }

    .footer a {
        display: inline-block;
        margin: 5px 8px;
    }
}