.footer {
    background: #e5dac7;
    color: #111;
    padding: 22px 0;
    border-radius: 20px 20px 0 0;
}

.footer-logo {
    width: 100px;
}

.footer a {
    color: #222;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover,
.footer small {
    color: #98751d;
}
/* ================= Mobile Responsive ================= */
@media (max-width: 768px) {

    .page-wrap {
        display: block;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        border-radius: 0;
    }

    .white-box {
        display: block !important;
    }
}